@import '../../.cache/wal/colors-define-color.css';

* {
    border: none;
    border-radius: 0px;
    /* `ttf-font-awesome` is required to be installed for icons */
    font-family: "Roboto Mono Medium", Helvetica, Arial, sans-serif;

    /* adjust font-size value to your liking: */
    font-size: 11px;

    min-height: 0;
}


window#waybar {
    background-color: @backgroundTransp2;
    /*background: transparent;*/
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: @foreground;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
    /* border-radius: 0; */
}

#workspaces button {
    /* padding: 0 0.4em; */
    /* background-color: transparent; */
    color: @cursor;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @color11;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: @background;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: @color15;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#hyprland-language,
#custom-update {
    padding: 5px 10px;
    margin: 6px 3px; 
    color: @foreground;
    /*background: @background;*/
    border-radius: 12px;
}

#custom-updates.green {
  background-color: #FFFFFF;
}
#custom-updates.yellow {
  background-color: #ff9a3c;
}
#custom-updates.red {
  background-color: #dc2f2f;
}

#window,
#workspaces {
    margin: 0 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
